<h1>List Properties</h1>
<title>Properties: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<table>
  <tr>
    <th>Addr</th>
    <th>State</th>
    <th>Zip</th>
    <th>Desc</th>
    <th>Gps lat</th>
    <th>Gps lon</th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%=h property.addr %></td>
    <td><!--%=h property.state.state_cd %--></td>
    <!--td><!--%=h property.state.state_name %--><!--/td-->
    <td><%=h property.zip %></td>
    <td><%=h property.desc %></td>
    <td><%=h property.gps_lat %></td>
    <td><%=h property.gps_lon %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New property', new_property_path %>