<h1>New Role Type</h1>
<title>Role Type: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<% form_for(@role_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :role_type_cd %><br />
    <%= f.text_field :role_type_cd %>
  </p>
  <p>
    <%= f.label :role_desc %><br />
    <%= f.text_field :role_desc %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', role_types_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>