<h1>Show Role Types</h1>
<title>Role Types: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<p>
  <b>Role type cd:</b>
  <%=h @role_type.role_type_cd %>
</p>

<p>
  <b>Role desc:</b>
  <%=h @role_type.role_desc %>
</p>


<%= link_to 'Edit', edit_role_type_path(@role_type) %> |
<%= link_to 'Back', role_types_path %>