<h1>Editing status</h1>

<% form_for(@status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status_cd %><br />
    <%= f.text_field :status_cd %>
  </p>
  <p>
    <%= f.label :status_desc %><br />
    <%= f.text_field :status_desc %>
  </p>
  <p>
    <%= f.label :created_userid %><br />
    <%= f.text_field :created_userid %>
  </p>
  <p>
    <%= f.label :last_updt_userid %><br />
    <%= f.text_field :last_updt_userid %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @status %> |
<%= link_to 'Back', statuses_path %>