<h1>List Statuses</h1>

<table>
  <tr>
    <!--<th>Status cd</th>-->
    <th>Status desc</th>
  </tr>

<% @statuses.each do |status| %>
  <div class="entry">
  <tr>
   <!--td><!--%=h status.status_cd %--></td-->
    <td><%=h status.status_desc %></td>
    <td><%= link_to 'Show', status %></td>
    <td><%= link_to 'Edit', edit_status_path(status) %></td>
    <td><%= link_to 'Destroy', status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  </div>
<% end %>
</table>

<br />

<%= link_to 'New status', new_status_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>
