<p>
  <b>Status cd:</b>
  <%=h @status.status_cd %>
</p>

<p>
  <b>Status desc:</b>
  <%=h @status.status_desc %>
</p>

<p>
  <b>Created userid:</b>
  <%=h @status.created_userid %>
</p>

<p>
  <b>Last updt userid:</b>
  <%=h @status.last_updt_userid %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>