<h1>List Demographics</h1>

<table>
  <tr>
    <th>Role</th>
    <th>Name</th>
    <th>Addr</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Created userid</th>
    <th>Last updt userid</th>
  </tr>

<% @demos.each do |demo| %>
  <tr>
    <td><%=h demo.role.role_desc %></td>
    <td><%=h demo.name %></td>
    <td><%=h demo.addr %></td>
    <td><%=h demo.city %></td>
    <td><%=h demo.state.state_cd %></td>
    <td><%=h demo.zip %></td>
    <td><%= link_to 'Show', demo %></td>
    <td><%= link_to 'Edit', edit_demo_path(demo) %></td>
    <td><%= link_to 'Destroy', demo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New demo', new_demo_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>