<h1>Show Demographics</h1>
<title>Demographics: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<p>
  <b>Role:</b>
  <%=h @demo.role.role_type.role_desc %>
</p>

<p>
  <b>Role Desc:</b>
  <%=h @demo.role.role_desc %>
</p>

<p>
  <b>Name:</b>
  <%=h @demo.name %>
</p>

<p>
  <b>Addr:</b>
  <%=h @demo.addr %>
</p>

<p>
  <b>City:</b>
  <%=h @demo.city %>
</p>

<p>
  <b>State:</b>
  <%=h @demo.state.state_cd %>
</p>

<p>
  <b>Zip:</b>
  <%=h @demo.zip %>
</p>


<%= link_to 'Edit', edit_demo_path(@demo) %> |
<%= link_to 'Back', demos_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>