<h1>Edit Demo Contact</h1>
<title>Demo Contact: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<% form_for(@demo_contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :demo_id %><br />
    <%= f.text_field :demo_id %>
  </p>
  <p>
    <%= f.label :preferred_seq %><br />
    <%= f.text_field :preferred_seq %>
  </p>
  <p>
    <%= f.label :contact_id %><br />
    <%= f.text_field :contact_id %>
  </p>
  <p>
    <%= f.label :contact_data %><br />
    <%= f.text_field :contact_data %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @demo_contact %> |
<%= link_to 'Back', demo_contacts_path %>