<h1>List Demo Contacts</h1>

<table>
  <tr>
    <th>Demo</th>
    <th>Preferred seq</th>
    <th>Contact</th>
    <th>Contact data</th>
    <th>Created userid</th>
    <th>Last updt userid</th>
  </tr>

<% @demo_contacts.each do |demo_contact| %>
  <tr>
    <td><%=h demo_contact.demo.name %></td>
    <td><%=h demo_contact.preferred_seq %></td>
    <!--td><%=h demo_contact.contact_id %></td-->
    <td><%=h demo_contact.contact_data %></td>
    <td><%= link_to 'Show', demo_contact %></td>
    <td><%= link_to 'Edit', edit_demo_contact_path(demo_contact) %></td>
    <td><%= link_to 'Destroy', demo_contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New demo_contact', new_demo_contact_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>