<h1>Show Demo Contacts</h1>
<title>Demo Contacts: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<p>
  <b>Demo:</b>
  <%=h @demo_contact.demo.name %>
</p>

<p>
  <b>Preferred seq:</b>
  <%=h @demo_contact.preferred_seq %>
</p>

<p>
  <b>Contact:</b>
  <%=h @demo_contact.contact_id %>
</p>

<p>
  <b>Contact data:</b>
  <%=h @demo_contact.contact_data %>
</p>

<%= link_to 'Edit', edit_demo_contact_path(@demo_contact) %> |
<%= link_to 'Back', demo_contacts_path %>