<h1>Edit Property Owner</h1>
<title>Property Owner: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<% form_for(@property_owner) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :property_id %><br />
    <%= f.text_field :property_id %>
  </p>
  <p>
    <%= f.label :demo_id %><br />
    <%= f.text_field :demo_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @property_owner %> |
<%= link_to 'Back', property_owners_path %>