<h1>List Property Owners</h1>

<table>
  <tr>
    <th>Property</th>
    <th>Demo</th>
  </tr>

<% @property_owners.each do |property_owner| %>
  <tr>
    <td><%=h property_owner.property_id %></td>
    <td><%=h property_owner.demo_id %></td>
    <td><%= link_to 'Show', property_owner %></td>
    <td><%= link_to 'Edit', edit_property_owner_path(property_owner) %></td>
    <td><%= link_to 'Destroy', property_owner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New property_owner', new_property_owner_path %>