<h1>New Property Owner</h1>

<% form_for(@property_owner) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :property_id %><br />
    <%= f.text_field :property_id %>
  </p>
  <p>
    <%= f.label :demo_id %><br />
    <%= f.text_field :demo_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', property_owners_path %>