<p>
  <b>Property:</b>
  <%=h @property_owner.property_id %>
</p>

<p>
  <b>Demo:</b>
  <%=h @property_owner.demo_id %>
</p>

<p>
  <b>Eff timestamp:</b>
  <%=h @property_owner.eff_timestamp %>
</p>

<p>
  <b>Exp timestamp:</b>
  <%=h @property_owner.exp_timestamp %>
</p>

<p>
  <b>Created userid:</b>
  <%=h @property_owner.created_userid %>
</p>

<p>
  <b>Last updt userid:</b>
  <%=h @property_owner.last_updt_userid %>
</p>


<%= link_to 'Edit', edit_property_owner_path(@property_owner) %> |
<%= link_to 'Back', property_owners_path %>