<h1>Show Property Owners</h1>
<title>Property Owners: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<p>
  <b>Property:</b>
  <%=h @property_owner.property.addr %>
</p>

<p>
  <b>Demo:</b>
  <%=h @property_owner.demo.name %>
</p>


<%= link_to 'Edit', edit_property_owner_path(@property_owner) %> |
<%= link_to 'Back', property_owners_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>