<h1>Listing states</h1>

<table>
  <tr>
    <th>State cd</th>
    <th>Created userid</th>
    <th>Last updt userid</th>
  </tr>

<% @states.each do |state| %>
  <tr>
    <td><%=h state.state_cd %></td>
    <td><%=h state.created_userid %></td>
    <td><%=h state.last_updt_userid %></td>
    <td><%= link_to 'Show', state %></td>
    <td><%= link_to 'Edit', edit_state_path(state) %></td>
    <td><%= link_to 'Destroy', state, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New state', new_state_path %>