<h1>List States</h1>

<table>
  <tr>
    <th>State cd</th>
    <!--th>State Name</th-->
  </tr>

<% @states.each do |state| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="list-code">
      <%=h state.state_cd %>
    <!--/td>
    <!--td class="list-description"-->
      <!--%=h state.state_name %-->
    <!--/td-->
    <td class="list-actions">
      <%= link_to 'Show', state %><br />
      <%= link_to 'Edit', edit_state_path(state) %><br />
      <%= link_to 'Destroy', state, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New state', new_state_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>