<p>
  <b>State cd:</b>
  <%=h @state.state_cd %>
</p>

<p>
  <b>Created userid:</b>
  <%=h @state.created_userid %>
</p>

<p>
  <b>Last updt userid:</b>
  <%=h @state.last_updt_userid %>
</p>


<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>