<h1>Editing property</h1>

<% form_for(@property) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :addr %><br />
    <%= f.text_field :addr %>
  </p>
  <p>
    <%= f.label :state_id %><br />
    <%= f.text_field :state_id %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.label :gps_lat %><br />
    <%= f.text_field :gps_lat %>
  </p>
  <p>
    <%= f.label :gps_lon %><br />
    <%= f.text_field :gps_lon %>
  </p>
  <p>
    <%= f.label :created_userid %><br />
    <%= f.text_field :created_userid %>
  </p>
  <p>
    <%= f.label :last_updt_userid %><br />
    <%= f.text_field :last_updt_userid %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>