<h1>List Properties</h1>

<% @properties.each do |property| -%>

    <div class="entry">
      <!--%= image_tag(property.pic_url) %-->
      <h3><%=h property.addr %></h3>
        <%=h property.state.state_cd %>
        <!--%=h property.state.state_name %-->
      <%=h property.zip %>
        <!--%=h property.gps_lat %-->
        <!--%=h property.gps_lon %-->
      <%= link_to 'Show', property %>
      <%= link_to 'Edit', edit_property_path(property) %>
      <%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %>
      <%=h property.desc %>
      <div class="price-line">
        <span class="price"><!--%= property.property_price.property_price %--></span>
      </div>
    </div>
    <br />
<% end %>

<br />

<%= link_to 'Add a new property', new_property_path %>