<h1>List Properties</h1>

<% @properties.each do |property| -%>

    <div class="entry">
      <!--%= image_tag property.property_detail.pic_url, :class => 'list-image' %-->
      <b><%=h property.addr %>,&nbsp;<%=h property.state.state_cd %>&nbsp;<%=h property.zip %></b>
        <!--%=h property.gps_lat %-->
        <!--%=h property.gps_lon %-->
      <%= link_to 'Show', property %>
      <%= link_to 'Edit', edit_property_path(property) %>
      <%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %><br />
      <%=h property.desc %>
      <div class="price-line">        
        <span class="price"><!--%=h property.property_price.property_price if property.property_price %--></span>
      </div>
    </div>
    <br />
<% end %>

<br />

<%= link_to 'Add a new property', new_property_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>