<h1>Show Properties</h1>
<title>Properties: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>
<p>
  <b>Pic:</b>
  <%= image_tag @property.property_detail.pic_url, :class => 'list-image' %>
</p>

<p>
  <b>Addr:</b>
  <%=h @property.addr %>
</p>

<p>
  <b>State:</b>
  <%=h @property.state.state_cd %>
</p>

<p>
  <b>Zip:</b>
  <%=h @property.zip %>
</p>

<p>
  <b>Desc:</b>
  <%=h @property.desc %>
</p>

<p>
  <b>Gps lat:</b>
  <%=h @property.gps_lat %>
</p>

<p>
  <b>Gps lon:</b>
  <%=h @property.gps_lon %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>