<h1>Show Contacts</h1>
<title>Contacts: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<p>
  <b>Contact type code:</b>
  <%=h @contact.contact_type.contact_type_cd %>
  </p>

<p>
  <b>Contact type desc:</b>
  <%=h @contact.contact_type.contact_type_desc%>
</p>

<p>
  <b>Contact data:</b>
  <%=h @contact.contact_data %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>