<h1>Edit Permission</h1>
<title>Permissions: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<% form_for(@permission) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :permission_desc %><br />
    <%= f.text_field :permission_desc %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @permission %> |
<%= link_to 'Back', permissions_path %>