<h1>Editing contact_type</h1>

<% form_for(@contact_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :contact_type_cd %><br />
    <%= f.text_field :contact_type_cd %>
  </p>
  <p>
    <%= f.label :contact_type_desc %><br />
    <%= f.text_field :contact_type_desc %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contact_type %> |
<%= link_to 'Back', contact_types_path %>