<h1>Listing Contact Types</h1>
<title>Contact Type: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<table>
  <tr>
    <th>Contact type cd</th>
    <th>Contact type desc</th>
    <th>Created userid</th>
    <th>Last updt userid</th>
  </tr>

<% @contact_types.each do |contact_type| %>
  <tr>
    <td><%=h contact_type.contact_type_cd %></td>
    <td><%=h contact_type.contact_type_desc %></td>
    <td><%= link_to 'Show', contact_type %></td>
    <td><%= link_to 'Edit', edit_contact_type_path(contact_type) %></td>
    <td><%= link_to 'Destroy', contact_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact_type', new_contact_type_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>