<h1>Listing contact_types</h1>

<table>
  <tr>
    <th>Contact type cd</th>
    <th>Contact type desc</th>
    <th>Created userid</th>
    <th>Last updt userid</th>
  </tr>

<% @contact_types.each do |contact_type| %>
  <tr>
    <td><%=h contact_type.contact_type_cd %></td>
    <td><%=h contact_type.contact_type_desc %></td>
    <td><%=h contact_type.created_userid %></td>
    <td><%=h contact_type.last_updt_userid %></td>
    <td><%= link_to 'Show', contact_type %></td>
    <td><%= link_to 'Edit', edit_contact_type_path(contact_type) %></td>
    <td><%= link_to 'Destroy', contact_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact_type', new_contact_type_path %>