<h1>Show Contact Types</h1>
<title>Contact Type: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<p>
  <b>Contact type cd:</b>
  <%=h @contact_type.contact_type_cd %>
</p>

<p>
  <b>Contact type desc:</b>
  <%=h @contact_type.contact_type_desc %>
</p>


<%= link_to 'Edit', edit_contact_type_path(@contact_type) %> |
<%= link_to 'Back', contact_types_path %>