<h1>List Role Permissions</h1>

<table>
  <tr>
    <th>Role</th>
    <th>Permission</th>
    <th>Created userid</th>
    <th>Last updt userid</th>
  </tr>

<% @role_permissions.each do |role_permission| %>
  <tr>
    <td><%=h role_permission.role_id %></td>
    <td><%=h role_permission.permission_id %></td>
    <td><%=h role_permission.created_userid %></td>
    <td><%=h role_permission.last_updt_userid %></td>
    <td><%= link_to 'Show', role_permission %></td>
    <td><%= link_to 'Edit', edit_role_permission_path(role_permission) %></td>
    <td><%= link_to 'Destroy', role_permission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New role_permission', new_role_permission_path %>