<h1>List Role Permissions</h1>
<title>Role Permissions: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<table>
  <tr>
    <th>Role</th>
    <th>Permission</th>
  </tr>

<% @role_permissions.each do |role_permission| %>
  <tr>
    <td><%=h role_permission.role.role_desc %>
        <!--%=h @id = role_permission.role_id
             @role = Role.find(params[:id ]) 
             @role.role_desc %-->
    </td>
    <td><%=h role_permission.permission.permission_desc %>
         <!--%=h @permission = Permission.find(params[:id ]) 
             @permission.permission_desc %-->
    </td>
    <td><%= link_to 'Show', role_permission %></td>
    <td><%= link_to 'Edit', edit_role_permission_path(role_permission) %></td>
    <td><%= link_to 'Destroy', role_permission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New role_permission', new_role_permission_path %>