<h1>Show Role Permissions</h1>
<title>Role Permissions: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<p>
  <b>Role:</b>
   <%=h @role_permission.role.role_desc %>
   <%=h @role_permission.permission.permission_desc %>

</p>

<p>
  <b>Permission:</b>
  <%=h @role_permission.permission.permission_desc %>
</p>

<%= link_to 'Edit', edit_role_permission_path(@role_permission) %> |
<%= link_to 'Back', role_permissions_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>