<h1>Edit Property Status</h1>
<title>Property Status: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<% form_for(@property_status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status_id %><br />
    <%= f.text_field :status_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @property_status %> |
<%= link_to 'Back', property_statuses_path %>