<h1>List Property Statuses</h1>

<table>
  <tr>
    <th>Status</th>
  </tr>

<% @property_statuses.each do |property_status| %>
  <tr>
    <td><%=h property_status.property.addr if property_status.property %></td>
    <!--td><!--%=h property_status.status_cd %--><!--/td-->
    <td><%=h property_status.status.status_desc if property_status.status  %></td>
    <td><%= link_to 'Show', property_status %></td>
    <td><%= link_to 'Edit', edit_property_status_path(property_status) %></td>
    <td><%= link_to 'Destroy', property_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New property_status', new_property_status_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>