<h1>New Property Status</h1>
<title>Property Status: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<% form_for(@property_status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :property %><br />
    <%= f.select(:property_id, Property.all.collect{|t| [t.addr, t.id]}, {:include_blank => true}) %>
    </select>
  </p>

  <p>
    <%= f.label :status %><br />
    <%= f.select(:status_id, Status.all.collect{|t| [t.status_desc, t.id]}, {:include_blank => true}) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', property_statuses_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>