<h1>New Property Status</h1>

<% form_for(@property_status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status_id %><br />
    <%= f.text_field :status_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', property_statuses_path %>