<h1>Show Property Statuses</h1>

<p>
  <b>Status:</b>
  <%=h @property_status.status_id %>
</p>

<p>
  <b>Eff timestamp:</b>
  <%=h @property_status.eff_timestamp %>
</p>

<p>
  <b>Exp timestamp:</b>
  <%=h @property_status.exp_timestamp %>
</p>


<%= link_to 'Edit', edit_property_status_path(@property_status) %> |
<%= link_to 'Back', property_statuses_path %>