<h1>Edit Property Detail</h1>
<title>Property Details: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<% form_for(@property_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :property_id %><br />
    <%= f.text_field :property_id %>
  </p>
  <p>
    <%= f.label :pic %><br />
    <!--%= f.text_field :pic %-->
  </p>
  <p>
    <%= f.label :pic_seq %><br />
    <%= f.text_field :pic_seq %>
  </p>
  <p>
    <%= f.label :pic_desc %><br />
    <%= f.text_field :pic_desc %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @property_detail %> |
<%= link_to 'Back', property_details_path %>