<h1>List Property Details</h1>
<title>Property Details: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<table>
  <tr>
    <th>Property</th>
    <th>Pic</th>
    <th>Pic seq</th>
    <th>Pic desc</th>
  </tr>

<% @property_details.each do |property_detail| %>
  <tr>
    <td><%=h property_detail.property.addr %></td>
  
    <td><!--%=h property_detail.pic %--></td>
    <td><%=h property_detail.pic_seq %></td>
    <td><%=h property_detail.pic_desc %></td>
    <td><%= link_to 'Show', property_detail %></td>
    <td><%= link_to 'Edit', edit_property_detail_path(property_detail) %></td>
    <td><%= link_to 'Destroy', property_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New property_detail', new_property_detail_path %>