<h1>New Property Detail</h1>
<title>Property Details: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<% form_for(@property_detail) do |f| %>
  <%= f.error_messages %>
   
  <p>
    <%= f.label :property_id %><br />
    <%= f.select(:property_id, Property.all.collect{|t| [t.addr, t.id]}, {:include_blank => true}) %>
    </select>
  </p>
  <p>
    <%= f.label :pic %><br />
    <!--%= f.text_field :pic %-->
  </p>
  <p>
    <%= f.label :pic_seq %><br />
    <%= f.text_field :pic_seq %>
  </p>
  <p>
    <%= f.label :pic_desc %><br />
    <%= f.text_field :pic_desc %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', property_details_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>