<h1>Show Property Details</h1>
<title>Property Details: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<p>
  <b>Property:</b>
  <%=h @property_detail.property.addr %>
</p>

<!--p>
  <!--b>Pic:</b>
  <!--%=h @property_detail.pic %-->
<!--/p-->

<p>
  <b>Pic seq:</b>
  <%=h @property_detail.pic_seq %>
</p>

<p>
  <b>Pic desc:</b>
  <%=h @property_detail.pic_desc %>
</p>


<%= link_to 'Edit', edit_property_detail_path(@property_detail) %> |
<%= link_to 'Back', property_details_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>