<h1>Editing Property Price</h1>
<title>Property Price: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<% form_for(@property_price) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :property_id %><br />
    <%= f.text_field :property_id %>
  </p>
  <p>
    <%= f.label :property_price %><br />
    <%= f.text_field :property_price %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @property_price %> |
<%= link_to 'Back', property_prices_path %>