<h1>List Property Prices</h1>
<title>Property Prices: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<table>
  <tr>
    <th>Property</th>
    <th>Property price</th>
  </tr>

<% @property_prices.each do |property_price| %>
  <tr>
    <td><%=h property_price.property.addr %></td>
    <td><%=h property_price.property.zip %></td>
    <td><%=h property_price.property.desc %></td>
    <td><%=h property_price.property_price %></td>
    <td><%= link_to 'Show', property_price %></td>
    <td><%= link_to 'Edit', edit_property_price_path(property_price) %></td>
    <td><%= link_to 'Destroy', property_price, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New property_price', new_property_price_path %>