<h1>New Property Price</h1>
<title>Property Price: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<% form_for(@property_price) do |f| %>
  <%= f.error_messages %>

  </p>
    <%= f.label :property_id %><br />
    <%= f.select(:property_id, Property.all.collect{|t| [t.addr, t.id]}, {:include_blank => true}) %>
    </select>
  </p>
  <p>
    <%= f.label :property_price %><br />
    <%= f.text_field :property_price %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', property_prices_path %>