<h1>Show Property Prices</h1>
<title>Property Prices: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<p>
  <b>Property:</b>
  <%=h @property_price.property.addr %>
</p>

<p>
  <b>Property price:</b>
  <span class="price"><%=h @property_price.property_price %></span>
</p>



<%= link_to 'Edit', edit_property_price_path(@property_price) %> |
<%= link_to 'Back', property_prices_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>