<p>
  <b>Property:</b>
  <%=h @property_price.property_id %>
</p>

<p>
  <b>Property price:</b>
  <%=h @property_price.property_price %>
</p>

<p>
  <b>Created userid:</b>
  <%=h @property_price.created_userid %>
</p>

<p>
  <b>Last updt userid:</b>
  <%=h @property_price.last_updt_userid %>
</p>


<%= link_to 'Edit', edit_property_price_path(@property_price) %> |
<%= link_to 'Back', property_prices_path %>