<h1>List Roles</h1>
<title>Roles: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<table>
  <tr>
    <th>Role type</th>
    <th>Role desc</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <!--td><!--%=h role.role_type_id %></td-->
    <td><%=h role.role_type.role_type_cd %></td>

    <td><%=h role.role_desc %></td>
    <td><%= link_to 'Show', role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New role', new_role_path %>
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>