<h1>Show role</h1>

<p>
  <b>Role type:</b>
  <%=h @role.role_type_id %>
</p>

<p>
  <b>Role desc:</b>
  <%=h @role.role_desc %>
</p>

<p>
  <b>Created userid:</b>
  <%=h @role.created_userid %>
</p>

<p>
  <b>Last updt userid:</b>
  <%=h @role.last_updt_userid %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>