<h1>Show Roles</h1>
<title>Roles: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'scaffold', 'realty' %>

<p>
  <b>Role type:</b>
  <!--%=h @role.role_type_id %-->
  <%=h @role.role_type.role_type_cd %>

</p>

<p>
  <b>Role desc:</b>
  <%=h @role.role_desc %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>